<div
  class="row {% if include.dark %}text-light background-dark{% else %}text-dark background-light{% endif %} py-5"
>
  <div class="col">
    <div class="row text-center">
      <h2>What We Do</h2>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-5 col-md-6 pt-2">
        <div class="row text-center">
          <h3>Full Entertainment Package</h3>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li class="font-lato fs-5">
                Professional Bandeoke band with a two hour live show!
              </li>
              <li class="font-lato fs-5">
                Wide repertoire of many hundreds of songs from all genres and eras
              </li>
              <li class="font-lato fs-5">
                Professional PA and stage lighting, with supplied sound engineer
              </li>
              <li class="font-lato fs-5">
                Bespoke pre-mixed DJ service before, between, and after live
                sets
              </li>
              <li class="font-lato fs-5">
                Your choice of first dance or special request performed
              </li>
              <li class="font-lato fs-5">
                PAT certified equipment and Public Liability Insurance
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-6 pt-2">
        <div class="row text-center">
          <h3>Optional Extras</h3>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li class="font-lato fs-5">
                Themed events for Christmas and Hallowe'en
              </li>
              <li class="font-lato fs-5">
                60 minute live lounge-style acoustic set - perfect for your
                drinks reception
              </li>
              <li class="font-lato fs-5">
                Band member to DJ live before and after live sets
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
