<div class="row {% if include.dark %}text-light background-dark{% else %}text-dark background-light{% endif %} py-3">
  <div class="col">
    <div class="row text-center">
      <h2>Reviews</h2>
    </div>
    <div id="reviews-wrapper" class="row justify-content-evenly text-center">
      {% assign first_reviews = site.data.reviews | slice: 0, 3 %} {% for review
      in first_reviews %}
      <div class="col-12 col-sm-6 col-md-4 pt-2">
        <div class="row">
          <span class="stars">
            {% for i in (1..5) %}
            <i class="bi bi-star-fill"></i>
            {% endfor %}
          </span>
        </div>
        <div class="row">
          <p class="fs-5">{{ review.text }}</p>
        </div>
        <div class="row">
          <p>{{ review.event }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <a
          role="button"
          class="btn btn-primary btn-large text-light cta-button"
          href="{% link pages/reviews.html %}"
        >
          See More Reviews
        </a>
      </div>
    </div>
  </div>
</div>
