<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_id }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "{{ site.google_tag_id }}");
    </script>

    <!-- Primary Meta Tags -->
    {% assign rendered_title = page.title | append: " - " | append:
    page.location | append: " " | append: site.title %} {% assign
    rendered_description = site.description[0] | append: " " | append:
    page.location | append: site.description[1] %}
    <title>{{ rendered_title }}</title>
    <meta name="title" content="{{ rendered_title }}" />
    <meta name="description" content="{{ rendered_description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{{ rendered_title }}" />
    <meta property="og:description" content="{{ rendered_description }}" />
    <meta property="og:image" content="/assets/images/{{ site.meta_image }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ rendered_title }}" />
    <meta property="twitter:description" content="{{ rendered_description }}" />
    <meta
      property="twitter:image"
      content="/assets/images/{{ site.meta_image }}"
    />

    <!-- Imports -->
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="preload"
      href="/assets/fonts/Gotham-Book.otf"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/Heavitas.ttf"
      as="font"
      crossorigin
    />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff2?1fa40e8900654d2863d011707b9fb6f2"
      as="font"
      crossorigin
    />
    {% if page.use_lite_youtube %}
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.min.js"
    ></script>
    <link
      rel="preload"
      href="https://i.ytimg.com/vi_webp/{{ site.hero_video_id }}/maxresdefault.webp"
      as="image"
    />
    {% endif %} {% if page.use_recaptcha and jekyll.environment != "development"
    %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("contact-form").submit();
      }
    </script>
    {% endif %}
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-dark navbar-expand-lg sticky-top">
      <div class="container-fluid justify-content-end">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i id="navbar-hamburger" class="bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
            <a class="nav-link text-light" href="{% link pages/index.html %}">
              Home
            </a>
            <a class="nav-link text-light" href="{% link pages/contact.html %}">
              Contact
            </a>
            <a
              class="nav-link text-light"
              href="{% link pages/repertoire.html %}"
            >
              Repertoire
            </a>
            <a class="nav-link text-light" href="{% link pages/reviews.html %}">
              Reviews
            </a>
            <a class="nav-link text-light" href="{% link pages/faq.html %}">
              FAQ
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">{{ content }}</div>
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center p-3 text-dark background-light"
    >
      <span class="col-auto">© {{ 'now' | date: "%Y" }} {{ site.name }} </span>
      <div class="col-auto">
        <!-- <a
          href="https://encoremusicians.com/hire/indie-bands?utm_source=badge&utm_medium=web&utm_campaign=verified_badge&utm_content=green-medium"
          target="_parent"
        >
          <img
            src="https://encoremusicians.com/img/embeds/badge-green.svg"
            alt="Book {{ site.name }} on Encore Musicians"
            style="width: 100px; height: 100px"
          />
        </a> -->
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
